@font-face {
  font-family: "miso-light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/miso-light/miso-light.eot");
  src: url("../fonts/miso-light/miso-light.eot?#iefix") format("embedded-opentype"), url("../fonts/miso-light/miso-light.woff") format("woff"), url("../fonts/miso-light/miso-light.ttf") format("truetype"), url("../fonts/miso-light/miso-light.svg#fontawesomeregular") format("svg");
}
@-moz-keyframes iframe-blink {
  0%, 100% {
    background: #4a637d;
  }
  50% {
    background: #2b3a4a;
  }
}
@-webkit-keyframes iframe-blink {
  0%, 100% {
    background: #4a637d;
  }
  50% {
    background: #2b3a4a;
  }
}
@-o-keyframes iframe-blink {
  0%, 100% {
    background: #4a637d;
  }
  50% {
    background: #2b3a4a;
  }
}
@keyframes iframe-blink {
  0%, 100% {
    background: #4a637d;
  }
  50% {
    background: #2b3a4a;
  }
}
body {
  margin: 0;
  padding: 0;
  min-width: 400px;
  overflow-x: auto;
  font-family: 'Microsoft YaHei', 'Meiryo', Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: linear-gradient(to right, #31303b, #363540);
}
body #app {
  height: 100%;
}
body a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Microsoft YaHei', 'Meiryo', Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.header-bar {
  height: 50px;
  min-width: 400px;
  background-color: #393d47;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  display: flex;
  align-items: stretch;
  transition: background 0.3s;
}
@media screen and (max-width: 600px) {
  .header-bar .text {
    display: none;
  }
}
.header-bar.at-top {
  background-color: transparent;
}
.header-bar .site-name-block {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  transition: border 0.3s;
  border-left: 0 solid #fffd8e;
}
.header-bar .site-name-block:hover {
  border-left-width: 5px;
}
.header-bar .site-name-block .site-master-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin: 0 5px;
}
.header-bar .site-name-block .site-title {
  color: #fff;
  font-size: 1.4em;
  margin: 0 5px;
}
.header-bar .flex {
  flex: 1;
}
.header-bar .site-links {
  display: flex;
  align-items: stretch;
  margin-right: 10px;
  font-family: 'miso-light', Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-shadow: 0 0 3px #000;
}
.header-bar .site-links .site-link {
  display: flex;
  align-items: center;
  color: #fff;
  margin: 0 10px;
  transition: border 0.3s;
  border-top: 0 solid #fffd8e;
}
.header-bar .site-links .site-link:hover {
  border-top: 5px solid #fffd8e;
  color: #fffd8e;
}
.header-bar .site-links .site-link > i.icon {
  font-size: 1.6em;
}
.header-bar .site-links .site-link .text {
  font-size: 1.4em;
  font-weight: bold;
}
.site-header {
  position: relative;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.6);
  z-index: 10;
}
.site-header .header-img {
  min-height: 400px;
}
.site-header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 50px, rgba(0,0,0,0.05));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 0 3px #000;
}
.site-header .overlay .post-title {
  font-size: 2.6em;
  max-width: 80%;
}
.site-header .overlay .post-subtitle {
  font-size: 1.2em;
  max-width: 80%;
}
.site-body {
  min-height: 100%;
  display: flex;
  flex-direction: row;
}
.site-body .left-side {
  background: transparent;
  flex: 1 1;
  margin: 50px 0;
}
@media screen and (max-width: 1099px) {
  .site-body .left-side {
    display: none;
  }
}
.site-body .left-side .left-side-twitter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 100px;
}
.site-body .left-side .left-side-twitter .twitter-timeline {
  max-width: 300px !important;
}
@media screen and (max-width: 1599px) {
  .site-body .left-side .left-side-twitter {
    display: none;
  }
}
.site-body .main-side {
  flex: 0 1 1200px;
  overflow: auto;
}
@media screen and (max-width: 1299px) {
  .site-body .main-side {
    flex: 0 1 1000px;
  }
}
@media screen and (max-width: 1099px) {
  .site-body .main-side {
    flex: 1;
    margin: 0 10px;
  }
}
.site-body .main-side .page-nav {
  overflow: hidden;
  margin: 20px;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
  display: inline-block;
}
.site-body .main-side .page-nav > * {
  display: inline-block;
  padding: 10px 0;
  width: 50px;
  text-align: center;
  background: #eee;
  transition: background 0.3s;
}
.site-body .main-side .page-nav > *:hover {
  background: #ffc6c6;
}
.site-body .main-side .page-nav > * ~ * {
  border-left: 1px solid rgba(0,0,0,0.2);
}
.site-body .main-side .page-nav > *:first-child {
  border-radius: 5px 0 0 5px;
}
.site-body .main-side .page-nav > *:last-child {
  border-radius: 0 5px 5px 0;
}
.site-body .main-side .page-nav .page-number.current {
  background: #475972;
  color: #ccc;
}
.site-body .right-side {
  background: transparent;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 50px 0;
}
@media screen and (max-width: 1099px) {
  .site-body .right-side {
    display: none;
  }
}
.site-body .right-side .right-side-assistance {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 150px;
}
@media screen and (max-width: 1599px) {
  .site-body .right-side .right-side-assistance {
    display: none;
  }
}
.site-body .right-side .right-side-assistance > a {
  width: 100%;
  margin: 10px 0;
  padding: 1px;
  border-radius: 3px 0 0 3px;
  border-left: 3px solid;
  background: #fefefe;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
  transition: color 0.3s;
  color: #8b949d;
}
.site-body .right-side .right-side-assistance > a:hover {
  color: #ffd9cc;
}
.site-body .right-side .right-side-assistance > a > img {
  display: block;
  width: 100%;
}
.site-footer {
  margin-top: 30px;
  padding: 30px 0;
  display: block;
  text-align: center;
  color: #fff;
  font-family: 'miso-light', monospace;
  font-size: 1.5em;
  background: linear-gradient(to right, #344955, #435160);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.site-footer a {
  color: #fdbc78;
  transition: color 0.3s;
}
.site-footer a:hover {
  color: #fd7878;
}
.article {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  position: relative;
}
.article .article-header {
  padding: 12px 20px 12px 20px;
  text-align: left;
  white-space: nowrap;
  background: linear-gradient(to right, #454b55, #55616d);
  box-shadow: 1px 3px 2px 0px rgba(50,49,59,0.85);
  border-left: 5px solid #6894e6;
  border-right: 5px solid #9ebdd7;
  border-radius: 3px;
  color: #f5f5f5;
  z-index: 5;
}
.article .article-header a {
  color: #8ccdff;
  transition: color 0.3s;
}
.article .article-header a:hover {
  color: #fffd8e;
}
.article .article-header h1 {
  font-size: 1.6em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.article .article-inner {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding: 0 30px;
  border-radius: 0 0 5px 5px;
  background-color: rgba(255,255,255,0.9);
  text-shadow: 0 0 0px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}
.article .article-inner .article-meta {
  display: flex;
  margin: 0 -30px;
  padding: 10px 10px 5px;
  background: linear-gradient(to right, #d5e2f0, #ebebec);
}
.article .article-inner .article-meta > div {
  margin: 0 10px;
}
.article .article-inner .article-meta a {
  transition: color 0.3s;
}
.article .article-inner .article-meta a:hover {
  color: #dc143c;
}
.article .article-inner .article-entry {
  margin: 10px 0;
  width: 100%;
}
.article .article-inner .article-entry a {
  border-bottom: 1px dashed;
  margin-bottom: -1px;
  transition: color 0.3s;
}
.article .article-inner .article-entry a:hover {
  color: #dc143c;
}
.article .article-inner .article-entry p {
  margin: 1em 0;
}
.article .article-inner .article-entry hr {
  border-top: 1px dashed;
  border-bottom: none;
  margin: 2em 0;
}
.article .article-inner .article-entry img {
  max-width: 100%;
  border: 1px solid #aaa;
  background: #eee;
  margin: 10px 0;
  border-radius: 3px;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}
.article .article-inner .article-entry code {
  max-width: 100%;
  display: inline-flex;
  overflow: auto;
}
.article .article-inner .article-entry iframe {
  border: 1px solid #475972;
  border-radius: 3px;
  background: #4a637d;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
  animation: iframe-blink 1s infinite ease-in-out;
}
.article .article-inner .article-entry .video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.article .article-inner .article-entry .video-container.ratio-16-9 {
  padding-top: 56.25%;
}
.article .article-inner .article-entry .video-container.ratio-16-10 {
  padding-top: 62.5%;
}
.article .article-inner .article-entry .video-container.ratio-4-3 {
  padding-top: 75%;
}
.article .article-inner .article-entry .video-container.ratio-1-1 {
  padding-top: 100%;
}
.article .article-inner .article-entry .video-container .responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.article .article-inner .article-footer {
  margin-bottom: 5px;
}
.article.article-type-assistance .article-entry {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: stretch;
}
.article.article-type-assistance .article-entry > p {
  margin: 1em;
  flex: 1 1 40%;
  text-align: center;
}
.article.article-type-assistance .article-entry > p a {
  display: inline-block;
  border-bottom: none;
}
.article.article-type-assistance .article-entry > p a img {
  width: 100%;
  height: auto;
}
.article.article-single {
  padding: 0;
}
.article.article-single .article-header {
  display: none;
}
.article.page .article-meta {
  display: none;
}
.article-entry pre,
.article-entry .highlight {
  background: #25384b;
  margin: 1em -35px 1em -35px;
  padding: 15px 30px;
  border-style: solid;
  border-color: #475972;
  border-width: 0 5px 0 5px;
  border-radius: 3px;
  overflow: auto;
  color: #ccc;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: 'Source Code Pro', Consolas, Monaco, Menlo, 'Meiryo', 'MS Gothic', monospace;
}
.article-entry code {
  background: #e9dada;
  text-shadow: 0 1px #fff;
  padding: 0.1em 0.3em;
  margin: 0 0.2em;
  border-radius: 3px;
  color: #dc143c;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 19.599999999999998px;
}
.article-entry .highlight .line.marked {
  background: #515151;
}
.article-entry .highlight .code .line {
  padding-right: 2em;
}
.article-entry .gist {
  margin: 0 -30px;
  border-style: solid;
  border-color: #475972;
  border-width: 1px 0;
  background: #25384b;
  padding: 15px 30px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: 'Source Code Pro', Consolas, Monaco, Menlo, 'Meiryo', 'MS Gothic', monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #25384b;
  color: #999;
  font: 0.85em font-sans;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 30px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: color-link;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
