<div class="site-footer">
    Copyright &copy; 2015-<%- new Date().getFullYear() %> Lialosiu All Rights Reserved. Powered by <a
            href="https://hexo.io/" target="_blank">Hexo</a>. Hosted on <a href="https://pages.github.com/"
                                                                           target="_blank">GitHub Pages</a>.
</div>