font-size = 14px;
line-height = 1.4em;
article-padding = 30px;
font-mono = 'Source Code Pro', Consolas, Monaco, Menlo, 'Meiryo', 'MS Gothic', monospace;
box-shadow = 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
nav-hover-color = #fffd8e;
link-hover = #fffd8e;
min-width = 400px;

mq-with-side = "screen and (min-width: 1600px)"
mq-without-side = "screen and (max-width: 1599px)"
mq-without-side-m = "screen and (max-width: 1299px)"
mq-without-side-s = "screen and (max-width: 1099px)"

@import "_partial/font-face"
@import "_partial/keyframes"

body {
  margin: 0;
  padding: 0;
  min-width: min-width;
  overflow-x: auto;
  font-family: 'Microsoft YaHei', 'Meiryo', Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: font-size;
  background: linear-gradient(to right, #31303b, #363540);

  #app {
    height: 100%;
  }

  a {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Microsoft YaHei', 'Meiryo', Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

@import "_partial/header-bar"

@import "_partial/site-header"
@import "_partial/site-body"
@import "_partial/site-footer"

@import "_partial/article"
@import "_partial/highlight"
