<div class="left-side">
    <div class="left-side-twitter">
        <a class="twitter-timeline" data-lang="zh-cn" data-height="3000" data-theme="dark" href="https://twitter.com/lialosiu?ref_src=twsrc%5Etfw">Twitter Loading..</a>
    </div>
</div>
<div class="main-side">
    <% if (page) { %>
        <%- partial('_partial/article', {post: page, index: false}) %>
    <% } %>
</div>
<div class="right-side">
    <div class="right-side-assistance">
        <% if (site && site.data && site.data['right-side-assistance']) { %>
            <% for (var key in site.data['right-side-assistance']) { %>
                <% if (!site.data['right-side-assistance'].hasOwnProperty(key)) continue %>
                <% var item = site.data['right-side-assistance'][key] %>
                <a href="<%= item.href %>"><img src="<%= item.image %>" alt="<%= item.alt %>"></a>
            <% } %>
        <% } %>
    </div>
</div>