@font-face {
  font-family: "miso-light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/miso-light/miso-light.eot");
  src: url("../fonts/miso-light/miso-light.eot?#iefix") format("embedded-opentype"),
          url("../fonts/miso-light/miso-light.woff") format("woff"),
          url("../fonts/miso-light/miso-light.ttf") format("truetype"),
          url("../fonts/miso-light/miso-light.svg#fontawesomeregular") format("svg");
}