.site-body {
  min-height: 100%;
  display: flex;
  flex-direction: row;

  .left-side {
    background: transparent;
    flex: 1 1;
    margin: 50px 0;
    @media mq-without-side-s {
      display: none;
    }

    .left-side-twitter {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 100px;

      .twitter-loading {
        min-width: 220px;
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        background: #4a637d;
        overflow: hidden;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
        animation: iframe-blink 1s infinite ease-in-out;
        color: #ccc;
      }

      @media mq-without-side {
        display: none;
      }
    }
  }

  .main-side {
    flex: 0 1 1200px;
    overflow: auto;

    @media mq-without-side-m {
      flex: 0 1 1000px;
    }

    @media mq-without-side-s {
      flex: 1;
      margin: 0 10px;
    }

    .page-nav {
      overflow: hidden;
      margin: 20px;
      box-shadow: box-shadow;
      display: inline-block;

      > * {
        display: inline-block;
        padding: 10px 0;
        width: 50px;
        text-align: center;
        background: #eee;
        transition: background 0.3s;

        &:hover {
          background: #ffc6c6;
        }

        & ~ * {
          border-left: 1px solid rgba(0, 0, 0, 0.2);
        }

        &:first-child {
          border-radius: 5px 0 0 5px;
        }

        &:last-child {
          border-radius: 0 5px 5px 0;
        }
      }

      .page-number {
        &.current {
          background: #475972;
          color: #ccc;
        }
      }
    }

  }

  .right-side {
    background: transparent;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 50px 0;

    @media mq-without-side-s {
      display: none;
    }

    .right-side-assistance {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 150px;

      @media mq-without-side {
        display: none;
      }

      > a {
        width: 100%;
        margin: 10px 0;
        padding: 1px;
        border-radius: 3px 0 0 3px;
        border-left: 3px solid;
        background: #fefefe;
        box-shadow: box-shadow;
        transition: color 0.3s;
        color: #8b949d;

        &:hover {
          color: #ffd9cc;
        }

        > img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
